@model DeCiBlog.Model.BlogEntry
@{
    ViewBag.Title = ViewBag.Settings.SiteName;
}
<div class="blogentries">
    <div class="blogentry row">
        <div class="title span10">@Model.Title</div>
        <div class="date span2">@Model.CreationDate.ToString("dd.MM.yyyy HH:mm:ss")</div>
        <div class="contents span12">@Model.Text</div>
        <div class="comments span12">
            @foreach (var comment in Model.Comments)
            {
                <div class="comment">
                    <div class="created pull-right">@comment.Created.ToString("dd.MM.yyyy HH:mm:ss")</div>
                    <div class="content">@comment.Text</div>
                </div>
            }
        </div>
    </div>
    <h3>Kommentar hinzufügen</h3>
    <form name="newCommentForm" novalidate data-ng-submit="addComment()">
        <fieldset>
            <div>
                <label for="text">Inhalt</label>
                <textarea name="text" rows="5" cols="30"></textarea> 
            </div>
            <div>
                <input type="submit" class="btn" value="Speichern"  />
            </div>
        </fieldset>
    </form>
</div>